html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* nav css */
nav {
  background-color: #002a32;
}

nav .brand-logo {
  padding-left: 16px;
}

nav .brand-logo {
  color: #ff9c2e !important;
}

/* footer css */
footer {
  background-color: #0b2027;
  padding: 64px 0px;
}

footer #logo-ist {
  width: 250px;
  height: auto;
}

footer #social {
  padding: 8px 0px;
}

footer ul li {
  display: inline;
}

footer ul li a {
  padding: 0px 8px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

footer span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

/* home css */
#home #top-section {
  padding: 128px 0px;
  background-color: #002a32;
}

#home #top-section .title-container {
  margin-bottom: 32px;
}

#home #top-section .title-container .title {
  display: block;
  font-size: 32px;
  color: #ff9c2e;
}

#home #top-section .title-container .subtitle {
  display: block;
  font-size: 24px;
  color: #ffffff;
}

#home #top-section .title-container hr {
  border-width: 2px;
  border-color: #ff9c2e;
  max-width: 32em;
}

#home #top-section span {
  color: #fbf5f3;
  font-weight: 300;
}

#home #video-section {
  padding: 92px 0px 128px 0px;
  background-color: #fbf5f3;
}

#home #video-section video {
  width: 80%;
  height: auto;
}

#home #events-section {
  padding: 92px 0px 128px 0px;
  background-color: #002a32;
}

#home #events-section .title-container {
  margin-bottom: 32px;
}

#home #events-section .title-container .title {
  display: block;
  font-size: 24px;
  color: #ffffff;
}

#home #events-section .title-container hr {
  border-width: 2px;
  border-color: #ff9c2e;
  max-width: 32em;
}

#home #map-section {
  width: 100%;
  height: 512px;
  background-color: #fbf5f3;
}



/* =============  Members CSS  ==================  */


#members #intro-section{
  padding: 60px 0px 25px 0px;
  background-color: #002a32;
}

#members #intro-section .title-container {
  margin-bottom: 32px;
}

#members #intro-section .title-container .title {
  display: block;
  font-size: 32px;
  color: #ff9c2e;
}

#members #intro-section .title-container .subtitle {
  display: block;
  font-size: 24px;
  color: #ffffff;
}

#members #intro-section .title-container hr {
  border-width: 2px;
  border-color: #ff9c2e;
  max-width: 16em;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

#members #team-section {
  background-color: #fbf5f3;
}

#members #team-section .title-container {
  padding-top: 32px;
}

#members #team-section .title {
  display: block;
  font-size: 24px;
  color: #000000;
}

#members #team-section .row  hr {
  border-width: 2px;
  border-color: #ff9c2e;
  max-width: 4em;
}

#members #team-section .row{
  width: 80%;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 50%;
  background-color: gray;
  width: 60%;
  display: block;
  margin: auto;
  transform: translateY(5%);
}


/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.container .member-name {
  display: block;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;  
  color: black;
  text-align: center;
}

.container .job-title {
  color: black;
  display: block;
  margin-bottom: 34px;
  margin-top: -10px;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.container .member-mail {
  color: gray;
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  text-align: center;
  margin-top: -20px;
}

.member-box {
  display: block;
  position: absolute;
  bottom: 0;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(255, 255, 255, .8);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  transform: translateY(5%);
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.member-box-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 40px;
  color: #777;
}

.member-linkedin-link {
  display: block;
  position: relative;
}

.member-linkedin-link:hover .member-box {
  opacity: 1;
}


/*  ====================  END MEMBERS  ====================  */

.gm-style-iw + div {
  display: none;
}

#maps-info-window {
  padding: 16px;
}

#maps-info-window .maps-title {
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #ff9c2e;
}

#maps-info-window .maps-text {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #002a32;
}


/* contacts css */
#contacts {
  height: 100%;
  overflow: hidden;
}

#contacts #map-section {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#contacts #contact-section {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: 100%;
  float: right;
  overflow: scroll;
}

#contacts #contact-section #information {
  flex: 1 1 auto;
}

#contacts #contact-section #information .container {
  padding: 15% 0px;
}

#contacts #contact-section #information .container #title {
  display: block;
  margin-bottom: 24px;
  font-size: 24px;
  color: #ff9c2e;
}

#contacts #contact-section #information .container .contact {
  display: block;
  padding: 4px 0px;
  font-size: 16px;
  color: #002a32;
}

#contacts #contact-section #information .container .contact i {
  margin-right: 8px;
  font-size: 22px;
}

#contacts #contact-section #information .container .contact a {
  text-decoration: none;
  color: #002a32 !important;
}

#contacts #contact-section #information .container .contact a:hover {
  text-decoration: none;
  color: #0b2027 !important;
}

#contacts #contact-section footer {
  flex: 0 1 auto;
}



/* events css */
#events #calendar-section {
  padding: 64px 0px 96px 0px;
  background-color: #002a32;
}

#events #calendar-section #title {
  display: block;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

#events #past-events-section {
  padding: 64px 0px 96px 0px;
  background-color: #fbf5f3;
}

#events #past-events-section #title {
  display: block;
  font-size: 24px;
  color: #ff9c2e;
}

#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 32em;
  margin: 0 auto;
  height: 570px;
  overflow: hidden;
}

.header {
  height: 50px;
  width: 32em;
  background: #ff9c2e;
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fbf5f3;
}

.lefta, .righta {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.lefta {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #fbf5f3 transparent transparent;
  left: 20px;
}

.righta {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #fbf5f3;
  right: 20px;
}

.month {
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #4A4A4A;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: #ff9c2e;
}

.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 24px;
  letter-spacing: 1.5px;
}


.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

.details {
  position: relative;
  width: 32em;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;

}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }

@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}

img.resize {
  width:300px;
  height:200px;
}
